# Data Preparation

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns

In [3]:
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/NT/NT_elections_survey.csv')

In [ ]:
df.shape

(95, 15)

In [ ]:
df.columns

Index(['registered_voter', 'first_time_voter', 'party_affiliation',
       'president_vote', 'governor_vote', 'important_topics', 'scale_nation',
       'scale_biden', 'scale_debate', 'debate_winner', 'robinson_news',
       'statement', 'campus_affiliation', 'identity', 'gender'],
      dtype='object')

In [4]:
df_num = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/NT/NT_elections_survey.csv')

# Data Cleaning

In [5]:
df_num.drop(df_num[df_num['campus_affiliation'] == 'Staff member'].index, inplace=True)
df_num.drop(df_num[df_num['campus_affiliation'] == 'Faculty member'].index, inplace=True)

df_num.shape

(90, 15)

In [6]:
topics = ["Abortion", "Climate change", "Economy", "Health care", "Supreme Court appointments",
          "Violent crime", "Foreign policy", "Immigration", "Gun policy", "Racial and ethnic inequality", "War/conflicts in Ukraine and Russia",
          "War/conflicts in Palestine and Israel", "Fair elections, democracy", "Other"]

for topic in topics:
    df_num[topic] = df_num['important_topics'].apply(lambda x: 1 if topic in x else 0)

In [7]:
df_num.rename(columns={'Abortion': 'topics_abortion'}, inplace=True)

df_num.rename(columns={'Climate change': 'topics_climate'}, inplace=True)

df_num.rename(columns={'Economy': 'topics_economy'}, inplace=True)

df_num.rename(columns={'Health care': 'topics_healthcare'}, inplace=True)

df_num.rename(columns={'Supreme Court appointments': 'topics_scotus'}, inplace=True)

df_num.rename(columns={'Violent crime': 'topics_crime'}, inplace=True)

df_num.rename(columns={'Foreign policy': 'topics_foreignpolicy'}, inplace=True)

df_num.rename(columns={'Immigration': 'topics_immigration'}, inplace=True)

df_num.rename(columns={'Gun policy': 'topics_guns'}, inplace=True)

df_num.rename(columns={'Racial and ethnic inequality': 'topics_inequality'}, inplace=True)

df_num.rename(columns={'War/conflicts in Ukraine and Russia': 'topics_ukraine'}, inplace=True)

df_num.rename(columns={'War/conflicts in Palestine and Israel': 'topics_palestine'}, inplace=True)

df_num.rename(columns={'Fair elections, democracy': 'topics_democracy'}, inplace=True)

df_num.rename(columns={'Other': 'topics_other'}, inplace=True)

In [8]:
topics1 = ["Person of color", "Member of the LGBTQ+ community", "First-generation college student",
            "Disabled", "Non-traditional student", "None of the above"]

for topic1 in topics1:
    df_num[topic1] = df_num['identity'].apply(lambda x: 1 if topic1 in x else 0)

In [9]:
df_num.rename(columns={'Person of color': 'identity_poc'}, inplace=True)

df_num.rename(columns={'Member of the LGBTQ+ community': 'identity_lgbtq'}, inplace=True)

df_num.rename(columns={'First-generation college student': 'identity_firstgen'}, inplace=True)

df_num.rename(columns={'Disabled': 'identity_disabled'}, inplace=True)

df_num.rename(columns={'Non-traditional student': 'identity_nontraditional'}, inplace=True)

df_num.rename(columns={'None of the above': 'identity_na'}, inplace=True)

In [ ]:
df_num

,registered_voter,first_time_voter,party_affiliation,president_vote,governor_vote,important_topics,scale_nation,scale_biden,scale_debate,debate_winner,...,topics_healthcare,topics_scotus,topics_crime,topics_foreignpolicy,topics_guns,topics_inequality,topics_ukraine,topics_palestine,topics_democracy,topics_other
0,Yes,Yes,Democratic Party,Kamala D. Harris & Tim Walz (Democratic Party),Josh Stein (Democratic Party),"Abortion, Climate change, Economy, Health care...",Strongly Agree,Agree,Neutral/Unsure,Kamala Harris,...,1,1,1,0,1,1,0,0,1,0
1,Yes,No,Democratic Party,Kamala D. Harris & Tim Walz (Democratic Party),Josh Stein (Democratic Party),"Abortion, Climate change, Economy, Supreme Cou...",Strongly Agree,Strongly Agree,Strongly Disagree,Kamala Harris,...,0,1,0,0,1,0,0,0,1,0
2,Yes,Yes,Democratic Party,Kamala D. Harris & Tim Walz (Democratic Party),Josh Stein (Democratic Party),"Abortion, Climate change, Supreme Court appoin...",Agree,Neutral/Unsure,Disagree,Kamala Harris,...,0,1,0,0,1,1,0,0,1,0
3,Yes,Yes,Independent/Unaffiliated,Kamala D. Harris & Tim Walz (Democratic Party),Josh Stein (Democratic Party),"Abortion, Climate change, Economy, Health care...",Agree,Strongly Agree,Disagree,Kamala Harris,...,1,1,1,1,1,1,1,1,1,0
4,Yes,Yes,Democratic Party,Kamala D. Harris & Tim Walz (Democratic Party),Josh Stein (Democratic Party),"Abortion, Climate change, Economy, Health care...",Strongly Agree,Agree,Strongly Disagree,Kamala Harris,...,1,1,0,0,1,0,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90,Yes,Yes,Democratic Party,Kamala D. Harris & Tim Walz (Democratic Party),Josh Stein (Democratic Party),"Abortion, Climate change, Supreme Court appoin...",Strongly Agree,Strongly Agree,Strongly Disagree,Kamala Harris,...,0,1,0,1,0,1,1,1,1,0
91,Yes,Yes,Democratic Party,Kamala D. Harris & Tim Walz (Democratic Party),Josh Stein (Democratic Party),"Abortion, Climate change, Economy, Health care...",Agree,Strongly Agree,Disagree,Kamala Harris,...,1,0,0,0,1,0,1,1,0,0
92,Yes,No,Independent/Unaffiliated,Kamala D. Harris & Tim Walz (Democratic Party),Josh Stein (Democratic Party),"Abortion, Climate change, Health care, Supreme...",Strongly Agree,Strongly Agree,Strongly Disagree,Kamala Harris,...,1,1,0,1,0,0,0,1,1,0
93,Yes,Yes,Third-Party,Donald J. Trump & JD Vance (Republican Party),Mike Ross (Libertarian Party),"Economy, Violent crime, Immigration, Gun policy",Neutral/Unsure,Agree,Disagree,Neither,...,0,0,1,0,1,0,0,0,0,0
94,Yes,No,Democratic Party,Kamala D. Harris & Tim Walz (Democratic Party),Josh Stein (Democratic Party),"Abortion, Climate change, Supreme Court appoin...",Agree,Strongly Agree,Agree,Kamala Harris,...,0,1,0,0,1,1,0,1,1,1

In [ ]:
df_num.dtypes

registered_voter           object
first_time_voter           object
party_affiliation          object
president_vote             object
governor_vote              object
important_topics           object
scale_nation               object
scale_biden                object
scale_debate               object
debate_winner              object
robinson_news              object
statement                  object
campus_affiliation         object
identity                   object
gender                     object
topics_abortion             int64
topics_claime               int64
topics_economy              int64
topics_healthcare           int64
topics_scotus               int64
topics_crime                int64
topics_foreignpolicy        int64
topics_guns                 int64
topics_inequality           int64
topics_ukraine              int64
topics_palestine            int64
topics_democracy            int64
topics_other                int64
identity_poc                int64
identity_lgbtq              int64
identity_firstgen           int64
identity_disabled           int64
identity_nontraditional     int64
identity_na                 int64
dtype: object

# Data Counts

In [ ]:
df_num.columns

Index(['registered_voter', 'first_time_voter', 'party_affiliation',
       'president_vote', 'governor_vote', 'important_topics', 'scale_nation',
       'scale_biden', 'scale_debate', 'debate_winner', 'robinson_news',
       'statement', 'campus_affiliation', 'identity', 'gender',
       'topics_abortion', 'topics_climate', 'topics_economy',
       'topics_healthcare', 'topics_scotus', 'topics_crime',
       'topics_foreignpolicy', 'topics_immigration', 'topics_guns',
       'topics_inequality', 'topics_ukraine', 'topics_palestine',
       'topics_democracy', 'topics_other', 'identity_poc', 'identity_lgbtq',
       'identity_firstgen', 'identity_disabled', 'identity_nontraditional',
       'identity_na'],
      dtype='object')

## General Respondent Info

In [13]:
df_num['campus_affiliation'].value_counts()

campus_affiliation
Third-year undergraduate student            23
Fourth-year undergraduate student           20
Second-year undergraduate student           18
First-year undergraduate student            14
Fifth-year or over undergraduate student     7
Graduate student                             7
Early college student                        1
Name: count, dtype: int64

In [ ]:
df_num['gender'].value_counts()

gender
Woman                                       45
Man                                         37
Non-binary, Third gender or Gender fluid     7
Prefer not to say                            1
Name: count, dtype: int64

In [ ]:
df_num['identity_na'].value_counts()

identity_na
0    61
1    29
Name: count, dtype: int64

In [ ]:
df_num['identity_poc'].value_counts()

identity_poc
0    65
1    25
Name: count, dtype: int64

In [ ]:
df_num['identity_lgbtq'].value_counts()

identity_lgbtq
0    50
1    40
Name: count, dtype: int64

In [ ]:
df_num['identity_firstgen'].value_counts()

identity_firstgen
0    74
1    16
Name: count, dtype: int64

## Statements

In [ ]:
# I feel worried about the state of our nation.
df_num['scale_nation'].value_counts()

scale_nation
Strongly Agree       44
Agree                36
Neutral/Unsure        5
Disagree              3
Strongly Disagree     2
Name: count, dtype: int64

In [ ]:
# President Biden made the right decision by dropping out of the race.
df_num['scale_biden'].value_counts()

scale_biden
Strongly Agree       57
Agree                25
Neutral/Unsure        6
Strongly Disagree     1
Disagree              1
Name: count, dtype: int64

In [ ]:
# The Sept. 10 Presidential Debate changed my opinions on either candidate.
df_num['scale_debate'].value_counts()

scale_debate
Disagree             34
Neutral/Unsure       22
Strongly Disagree    22
Agree                11
Strongly Agree        1
Name: count, dtype: int64

In [ ]:
# Who do you think won the Sept. 10 Presidential Debate?
df_num['debate_winner'].value_counts()

debate_winner
Kamala Harris    69
Neither          17
Donald Trump      4
Name: count, dtype: int64

In [ ]:
# How has the recent reporting on Lieutenant Governor Mark Robinson’s online
#presence changed your stance on him?
df_num['robinson_news'].value_counts()

robinson_news
Very Negatively    58
Negatively         16
Neutral/Unsure     14
Positively          1
Very Positively     1
Name: count, dtype: int64

## Voting Plans

In [ ]:
df_num['registered_voter'].value_counts()

registered_voter
Yes                            86
No, plan on registering         3
No, will not be registering     1
Name: count, dtype: int64

In [ ]:
df_num['first_time_voter'].value_counts()

first_time_voter
No     49
Yes    41
Name: count, dtype: int64

In [ ]:
df_num['party_affiliation'].value_counts()

party_affiliation
Democratic Party            50
Independent/Unaffiliated    28
Republican Party             5
Third-Party                  4
Other                        3
Name: count, dtype: int64

In [ ]:
df_num['president_vote'].value_counts()

president_vote
Kamala D. Harris & Tim Walz (Democratic Party)           72
Donald J. Trump & JD Vance (Republican Party)             9
Undecided/Unsure                                          6
Jill Stein & Rudolph Ware (Green Party)                   2
Cornel West & Melina Abdullah (Justice for All Party)     1
Name: count, dtype: int64

In [ ]:
df_num['governor_vote'].value_counts()

governor_vote
Josh Stein (Democratic Party)       72
Undecided/Unsure                    10
Mark Robinson (Republican Party)     4
Mike Ross (Libertarian Party)        3
Wayne Turner (Green Party)           1
Name: count, dtype: int64

## Important Topics

In [ ]:
df_num['topics_abortion'].value_counts()

topics_abortion
1    66
0    24
Name: count, dtype: int64

In [ ]:
df_num['topics_climate'].value_counts()

topics_climate
1    59
0    31
Name: count, dtype: int64

In [ ]:
df_num['topics_economy'].value_counts()

topics_economy
1    58
0    32
Name: count, dtype: int64

In [ ]:
df_num['topics_healthcare'].value_counts()

topics_healthcare
1    59
0    31
Name: count, dtype: int64

In [ ]:
df_num['topics_scotus'].value_counts()

topics_scotus
1    52
0    38
Name: count, dtype: int64

In [ ]:
df_num['topics_crime'].value_counts()

topics_crime
0    64
1    26
Name: count, dtype: int64

In [ ]:
df_num['topics_foreignpolicy'].value_counts()

topics_foreignpolicy
0    46
1    44
Name: count, dtype: int64

In [ ]:
df_num['topics_immigration'].value_counts()

topics_immigration
0    54
1    36
Name: count, dtype: int64

In [ ]:
df_num['topics_guns'].value_counts()

topics_guns
1    59
0    31
Name: count, dtype: int64

In [ ]:
df_num['topics_inequality'].value_counts()

topics_inequality
1    50
0    40
Name: count, dtype: int64

In [ ]:
df_num['topics_ukraine'].value_counts()

topics_ukraine
0    53
1    37
Name: count, dtype: int64

In [ ]:
df_num['topics_palestine'].value_counts()

topics_palestine
1    57
0    33
Name: count, dtype: int64

In [ ]:
df_num['topics_democracy'].value_counts()

topics_democracy
1    56
0    34
Name: count, dtype: int64

In [ ]:
df_num['topics_other'].value_counts()

topics_other
0    79
1    11
Name: count, dtype: int64

## Further Breakdown

In [12]:
# Out of all women (45), how many of them consider abortion important
df_num[df_num['gender'] == 'Woman']['topics_abortion'].value_counts()

topics_abortion
1    40
0     5
Name: count, dtype: int64

In [14]:
# Out of all Independent/Unaffiliated students, who are they voting for?
df_num[df_num['party_affiliation'] == 'Independent/Unaffiliated']['president_vote'].value_counts()

president_vote
Kamala D. Harris & Tim Walz (Democratic Party)           20
Undecided/Unsure                                          4
Donald J. Trump & JD Vance (Republican Party)             3
Cornel West & Melina Abdullah (Justice for All Party)     1
Name: count, dtype: int64

In [ ]:
df_num.to_csv('editedelectionresponses.csv')